@{
    ViewData["Title"] = "Order";
}
@model Order

    <form>
        <div class="form-group row">
            <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputName" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" placeholder="Name">
            </div>
        </div>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Oysters</legend>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="form-check col-sm-6">
                            <input class="form-check-input d-inline-block" type="checkbox" id="@OysterType.OysterTypes.Arcachon_3-type" value="@OysterType.OysterTypes.Arcachon_3">
                            <label class="form-check-label" for="@OysterType.OysterTypes.Arcachon_3-type">
                                @OysterType.GetOysterTypeString(OysterType.OysterTypes.Arcachon_3)
                            </label>
                        </div>
                        <div class="col-sm-4">
                            <div class="form">
                                <input type="number" class="form-control d-inline-block" id="@OysterType.OysterTypes.Arcachon_3-quantity" placeholder="Quantity">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-check col-sm-6">
                            <input class="form-check-input d-inline-block" type="checkbox" id="@OysterType.OysterTypes.Arcachon_4-type" value="@OysterType.OysterTypes.Arcachon_4">
                            <label class="form-check-label" for="@OysterType.OysterTypes.Arcachon_4-type">
                                @OysterType.GetOysterTypeString(OysterType.OysterTypes.Arcachon_4)
                            </label>
                        </div>
                        <div class="col-sm-4">
                            <div class="form">
                                <input type="number" class="form-control d-inline-block" id="@OysterType.OysterTypes.Arcachon_3-quantity" placeholder="Quantity">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-check col-sm-6">
                            <input class="form-check-input d-inline-block" type="checkbox" id="@OysterType.OysterTypes.Arguin_2-type" value="@OysterType.OysterTypes.Arguin_2">
                            <label class="form-check-label" for="@OysterType.OysterTypes.Arguin_2-type">
                                @OysterType.GetOysterTypeString(OysterType.OysterTypes.Arguin_2)
                            </label>
                        </div>
                        <div class="col-sm-4">
                            <div class="form">
                                <input type="number" class="form-control d-inline-block" id="@OysterType.OysterTypes.Arcachon_3-quantity" placeholder="Quantity">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-check col-sm-6">
                            <input class="form-check-input d-inline-block" type="checkbox" id="@OysterType.OysterTypes.Arguin_3-type" value="@OysterType.OysterTypes.Arguin_3">
                            <label class="form-check-label" for="@OysterType.OysterTypes.Arguin_3-type">
                                @OysterType.GetOysterTypeString(OysterType.OysterTypes.Arguin_3)
                            </label>
                        </div>
                        <div class="col-sm-4">
                            <div class="form">
                                <input type="number" class="form-control d-inline-block" id="inputName" placeholder="Quantity">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-check col-sm-6">
                            <input class="form-check-input d-inline-block" type="checkbox" id="@OysterType.OysterTypes.Arguin_4-type" value="@OysterType.OysterTypes.Arguin_4">
                            <label class="form-check-label" for="@OysterType.OysterTypes.Arguin_4-type">
                                @OysterType.GetOysterTypeString(OysterType.OysterTypes.Arguin_4)
                            </label>
                        </div>
                        <div class="col-sm-4">
                            <div class="form">
                                <input type="number" class="form-control d-inline-block" id="inputName" placeholder="Quantity">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="form-group row">
            <label for="expectedDate" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="expectedDate" placeholder="When?">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="button" onClick="createPostRequest()" class="btn btn-primary">Sign in</button>
            </div>
        </div>
        @Html.AntiForgeryToken()

    </form>

<script>
    function createPostRequest() {
        let order = createOrderObject();
        $.ajax({
            type: "POST",
            url: "Form/AddOrder",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: order,
            headers: {
                RequestVerificationToken: 
                $('input:hidden[name="__RequestVerificationToken"]').val()
            }
        });
        }

    function createOrderObject() {
        let order = {
            order: {
                orderId: null,
                name: document.getElementById("name").value,
                email: document.getElementById("email").value,
                subOrders: [],
                createdOn: null,
                expectedDate: document.getElementById("expectedDate").value,
                comment: "Testing this",
                done: "false",
                timestamp: null
            }
        }
        return JSON.stringify(order);
    }
</script>
